@model Playground.Models.Organisation

@{
    ViewBag.Title = "Organisation Details";
    Layout = "~/Views/Shared/_WizardLayout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-24 col-md-12 grants">
                <!-- page content begins here -->

                @using (Html.BeginForm("OrganisationData", "OrgData", FormMethod.Post))
                {
                    <h2>@ViewBag.Title</h2>

                    @Html.LabelFor(m => m.Vision)<br />
                    @Html.TextBoxFor(m => m.Vision)
                    @Html.ValidationMessageFor(m => m.Vision)<br />

                    @Html.LabelFor(m => m.Mission)<br />
                    @Html.TextBoxFor(m => m.Mission)
                    @Html.ValidationMessageFor(m => m.Mission)<br />

                    @*@Html.LabelFor(m => m.WomensRightsIssuesId)<br />
                    @Html.TextBoxFor(m => m.WomensRightsIssuesId)
                    @Html.ValidationMessageFor(m => m.WomensRightsIssuesId)<br />*@

                    @Html.LabelFor(m => m.WomensRightsIssuesId)<br />
                    @Html.DropDownListFor(m => m.WomensRightsIssuesId,(IEnumerable<SelectListItem>)ViewData["womensRightsIssues"])
                    @Html.ValidationMessageFor(m => m.WomensRightsIssuesId)<br />

                    @Html.LabelFor(m => m.YearFormed)<br />
                    @Html.TextBoxFor(m => m.YearFormed)
                    @Html.ValidationMessageFor(m => m.YearFormed)<br />

                    @Html.LabelFor(m => m.Founder)<br />
                    @Html.TextBoxFor(m => m.Founder)
                    @Html.ValidationMessageFor(m => m.Founder)<br />

                    @Html.LabelFor(m => m.ReasonFormed)<br />
                    @Html.TextBoxFor(m => m.ReasonFormed)
                    @Html.ValidationMessageFor(m => m.ReasonFormed)<br />

                    @*@Html.LabelFor(m => m.OperationalAreaId)<br />
                    @Html.TextBoxFor(m => m.OperationalAreaId)
                    @Html.ValidationMessageFor(m => m.OperationalAreaId)<br />*@

                    @Html.LabelFor(m => m.OperationalAreaId)<br />
                    @Html.DropDownListFor(m => m.OperationalAreaId, (IEnumerable<SelectListItem>)ViewData["operationalAreas"])
                    @Html.ValidationMessageFor(m => m.OperationalAreaId)<br />

                    @Html.LabelFor(m => m.OperationalLocationId)<br />
                    @Html.TextBoxFor(m => m.OperationalLocationId)
                    @Html.ValidationMessageFor(m => m.OperationalLocationId)<br />

                    @Html.LabelFor(m => m.Achievements)<br />
                    @Html.TextBoxFor(m => m.Achievements)
                    @Html.ValidationMessageFor(m => m.Achievements)<br />

                    <br />
                    <hr />
                    <input type="submit" name="nextBtn" value='Next' />
                }
                <!-- page content ends here -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>